<div fxLayout="row">
    <mat-card fxFlex="200px">
        <mat-card-content>
            <div>Liput: {{flaggedCount}}</div>
            <div>Räjähtänyt: {{denotedCount}}</div>
            <div>Elämät: {{lives}}</div>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="*">
        <mat-card-title fxLayoutAlign="center center">
            00:00
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div gdGap="5px" class="top-level-div">
                    <div *ngFor="let item of cells" class="cell" [gdColumn]="'col ' + item.X" [gdRow]="'row ' + item.Y"
                        (click)="cellClicked($event, item)" (contextmenu)="contextMenu($event, item)">
                        <div [ngSwitch]="item.status" fxLayout="row" fxLayoutAlign="center center"
                            style="height: 100%; width: 100%;" [style.background]="item.mineCountAround | countToColor">
                            <div *ngSwitchCase="CellStatus.Origin" class="not-clicked"></div>
                            <div *ngSwitchCase="CellStatus.Denoted" class="denoted">
                                <mat-icon>emergency</mat-icon>
                            </div>
                            <div *ngSwitchCase="CellStatus.Flagged" class="flagged">
                                <mat-icon>flag</mat-icon>
                            </div>
                            <div *ngSwitchCase="CellStatus.Number">
                                {{item.mineCountAround}}
                            </div>
                            <div *ngSwitchCase="CellStatus.Unknown">
                                <mat-icon>not_listed_location</mat-icon>
                            </div>
                            <div *ngSwitchDefault>output2</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div #fireworks class="fireworks" *ngIf="gameFinished">
</div>